services:
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${THIA_DB_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "6543:5432"
    networks:
      - thia_net

  redis:
    image: redis:7
    restart: always
    ports:
      - "6379:6379"
    networks:
      - thia_net

  web:
    build:
      context: .
    container_name: web
    command: ./entrypoint.sh
    volumes:
      - .:/app
      - static_volume:/app/staticfiles
      - ./media:/app/media
      - ./docker_media/videos:/app/media/videos

    env_file:
      - .env
    depends_on:
      - db
      - redis
    networks:
      - thia_net

  celery:
    build: .
    command: celery -A thia worker --loglevel=info
    volumes:
      - .:/app
    depends_on:
      - db
      - redis
    env_file:
      - .env
    user: celeryuser
    networks:
      - thia_net

  celery-beat:
    build: .
    command: celery -A thia beat --loglevel=info
    volumes:
      - .:/app
    depends_on:
      - db
      - redis
    env_file:
      - .env
    user: celeryuser
    networks:
      - thia_net

  nginx:
    image: nginx:alpine
    container_name: nginx
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/certs:/etc/nginx/certs:ro
      - .:/app
      - static_volume:/app/staticfiles
      - ./media:/app/media
      - ./docker_media/videos:/app/media/videos

    depends_on:
      - web
    networks:
      - thia_net

volumes:
  postgres_data:
  static_volume:
  media_volume:

networks:
  thia_net:
    driver: bridge
