<!DOCTYPE html>
<html>
<head>
    <title>Haunt Home</title>
</head>
<body>
    <h1>Welcome to the Haunt Home Page!</h1>
    {% if user.is_authenticated %}
        <p>Hello, {{ user.username }}!</p>
        <p>
          <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
             <button type="submit">Log Out</button>
          </form>
        </p>
    {% else %}
        <p>Hello sucker, you fell for the same old story again <a href="{% url 'login' %}">Log in</a> or <a href="{% url 'signup' %}">Sign up</a></p>
    {% endif %}
</body>
